(
A,
Aacute,
Abreve,
Acaron,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Eth,
Dcaron,
Dcroat,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
F,
G,
Gbreve,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
H,
Hbar,
Hcircumflex,
I,
IJ,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
J,
Jacute,
Jcircumflex,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
Eng,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Germandbls,
T,
Tcaron,
Tcommaaccent,
U,
Uacute,
Ubreve,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Z,
Zacute,
Zcaron,
Zdotaccent,
I.ss02,
IJ.ss02,
Iacute.ss02,
Icircumflex.ss02,
Idieresis.ss02,
Idotaccent.ss02,
Igrave.ss02,
Imacron.ss02,
Iogonek.ss02,
a,
aacute,
abreve,
acaron,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
eth,
dcaron,
dcroat,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
f,
g,
gbreve,
gcircumflex,
gcommaaccent,
gdotaccent,
h,
hbar,
hcircumflex,
i,
idotless,
iacute,
icircumflex,
idieresis,
idotaccent,
igrave,
ij,
imacron,
iogonek,
j,
jdotless,
jacute,
jcircumflex,
k,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
lslash,
m,
n,
nacute,
ncaron,
ncommaaccent,
ntilde,
eng,
o,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
germandbls,
t,
tcaron,
tcommaaccent,
u,
uacute,
ubreve,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
z,
zacute,
zcaron,
zdotaccent,
a.ss01,
aacute.ss01,
abreve.ss01,
acaron.ss01,
acircumflex.ss01,
adieresis.ss01,
agrave.ss01,
amacron.ss01,
aogonek.ss01,
aring.ss01,
atilde.ss01,
l.ss03,
lacute.ss03,
lcaron.ss03,
lcommaaccent.ss03,
lslash.ss03,
ordfeminine,
ordmasculine,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
one.tf.ss04,
zero.tf.zero,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
CR,
.notdef,
.null,
space,
nbspace,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
cent,
currency,
dollar,
euro,
sterling,
yen,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
asciitilde,
logicalnot,
asciicircum,
micro,
percent,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
ogonekcomb.alt,
macroncomb.narrow,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
Bowl,
arch
)